*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(235, 238, 240);
}

/* heather*/
input{ 
    width: 100%;
    justify-content: center;
    margin: auto;
    font-size: 150%; 
    top: 0;
    width: 35%;
    padding: 0px 10px;

    box-sizing: border-box;
} 

button{
    background: #F4CA35;
    color: #073590;
    font-size: 150%; 
    width: 100%;
}

button:active{
    background: #fcb900;
}

.father-container{  
    padding-top: 15px;
    padding-bottom: 10px;
    width: 85vw;
    margin: auto;
    
}

.content-tittle{
    width: 97%;
    padding-top: 10px;
    margin: auto;

}

.logo{
    width: 45px;
    height: 45px;

}

.title{
    color: rgb(235, 238, 240);
    text-align: left;
    display: block;
    padding-left: 7px;
}

.travel{
    
    background: linear-gradient(to right,#073590,#0d49c0);
    display: block;
    flex-shrink: 0;
    margin-bottom: 2rem;
    overflow: visible;
    padding-bottom: 0.625rem;
    padding-top: 0.0625rem;
    width: 100%;
}

/*body*/

#map { 
    width: 85%;
    height: 450px;
    top: 0px;
    justify-content: center;
    margin: auto;
}
